RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.html -f
#RewriteRule ^(.*)$ $1.html [NC,L]

#http to secure redirect
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://optionmatrix.com/$1 [R,L]

#index
RewriteRule ^home?$ /index.html

#industries
RewriteRule ^construction?$ /html/industries/construction.html
RewriteRule ^mining?$ /html/industries/mining.html
RewriteRule ^manufacturing?$ /html/industries/manufacturing.html
RewriteRule ^logistics?$ /html/industries/logistics.html
RewriteRule ^healthcare?$ /html/industries/healthcare.html
RewriteRule ^pharmaceuticals?$ /html/industries/pharma.html

#solutions
RewriteRule ^audit-bench?$ /html/solutions/audit-bench.html
RewriteRule ^field-to-office?$ /html/solutions/f2o.html
RewriteRule ^sales-global?$ /html/solutions/salesglobal.html
RewriteRule ^people-first?$ /html/solutions/peoplefirst.html
RewriteRule ^solutions?$ /html/solutions/solutions.html

#technologies
RewriteRule ^net?$ /html/technologies/net.html
RewriteRule ^yii?$ /html/technologies/yii.html


#case-studies
RewriteRule ^audit-case?$ /html/case-studies/audit-case.html
RewriteRule ^recruitment-case?$ /html/case-studies/recruit-case.html
RewriteRule ^purchase-case?$ /html/case-studies/mining-case.html
RewriteRule ^healthcare-case?$ /html/case-studies/medical-case.html

#about-pages
RewriteRule ^profile?$ /html/profile.html
RewriteRule ^culture?$ /html/culture.html
RewriteRule ^quality?$ /html/quality.html
RewriteRule ^infrastructure?$ /html/infrastructure.html
RewriteRule ^team-photos?$ /html/team-photos.html
RewriteRule ^client-videos?$ /html/testimonials.html
RewriteRule ^contact-us?$ /html/contact.html
RewriteRule ^terms?$ /html/terms.html