html,
body {
    margin: 0px;
    cursor: default;
}


body a,
body a:hover {
    text-decoration: none !important;
    color: #ffffff;
}

* {
    transition: all 0.1s ease-out;
}

.clearfix {
    margin: auto;
    height: 3px;
    width: 20%;
}

/*/////////////NAVBAR/////////////*/
.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#brand {
    height: 34px;
}

.dropdown-menu {
    max-width: 100px;
    border: solid 1px #707070;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background: #707070;
    border: #707070;
}

/*/////////cards-SECTION/////////*/
#cards img {
    height: 120px;
}

/*////////////////////////frame-sol section////////////////////////*/
.frame-img {
    height: 460px;
}

#img1 {
    background-image: url("/images/audit/F1.png");
    background-repeat: no-repeat;
    background-position: center;
}


#img2 {
    background-image: url("/images/audit/F2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img3 {
    background-image: url("/images/audit/F3.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img4 {
    background-image: url("/images/audit/F4.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img5 {
    background-image: url("/images/audit/F5.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img6 {
    background-image: url("/images/audit/F6.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img7 {
    background-image: url("/images/audit/F7.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img8 {
    background-image: url("/images/audit/F8.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img9 {
    background-image: url("/images/audit/F9.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img10 {
    background-image: url("/images/audit/EF1.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img11 {
    background-image: url("/images/audit/EF2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img12 {
    background-image: url("/images/audit/EF3.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img13 {
    background-image: url("/images/audit/EF4.png");
    background-repeat: no-repeat;
    background-position: center;
}

#img14 {
    background-image: url("/images/audit/EF5.png");
    background-repeat: no-repeat;
    background-position: center;
}

/*/////////////Possibilities-section//////////////*/
.pos-card .card-title {
    font-weight: 400;
}

.pos-card .card-body {
    font-weight: 300;
}

.pos-card .card {
    line-height: 1.75rem;
    min-width: 220px;
    top: 0px;
    background: #23374D;
}

.pos-card .card-body {
    border-top: 1px solid red;
}

.pos-card .card:hover {
    transition: all 0.2s ease-out;
    top: -7px;
}


/*///////////////////////////FOOTER///////////////////////////*/
#banner-dark,
#banner-dark span,
#banner-dark p,
#banner-dark h4 {
    color: #ffffff;
    background: #23374D;
}

footer {
    background: #23374D;
}

footer div {
    color: #ffffff;
}

ul {
    list-style: none;
}

footer li,
footer p,
footer a,
#terms {
    font-size: .76rem;
    color: #ffffff;
}

#brand2 {
    height: 36px;
}

.clearfix2 {
    margin: auto;
    height: 1px;
    width: 30px;
}

#in-btn:hover {
    background: #2867b2;
    color: #ffffff;
    border-radius: 3px;
}

#fb-btn:hover {
    color: #ffffff;
    background: #4267B2;
    border-radius: 3px;
}

#tweet-btn:hover {
    color: #1da1f2;
}

#insta-btn:hover {
    color: rgb(226, 50, 108);
}

.seperator {
    border: 0 4px 0 0 solid;
    margin: 0 20px 0 20px;
    background: #DC3545;
    width: 1px;
}

/*//////////////////////////////////////////////////////MEDIA QUERIES//////////////////////////////////////////////////////*/

/*Phones- 600px and low*/
@media only screen and (max-width: 600px) {

       header img {
        height: 50px;
    }

    .frame-img {
        height: 160px;
        background-size: contain;
    }

    #global-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #process img {
        height: 80px;
    }
}

/*Tablets- 600px and above*/
@media only screen and (min-width: 601px) {

    .display-4 {
        font-size: 3rem;
    }
}

/*Laptops/screens- 600px and above*/
@media only screen and (min-width: 768px) {

    .display-4 {
        font-size: 3.5rem;
    }
}

/*large screens- 600px and above*/
@media only screen and (min-width: 992px) {}
