html,
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

p,
h1,
h4,
.display-4 {
    color: #444444;
}

body a,
body a:hover {
    text-decoration: none !important;
    color: #ffffff;
}


/*///////////////////////////NAVBAR///////////////////////////*/
.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

nav.scrolled {
    border-bottom: solid 1px #dddddd;
    padding: 0px;
}

#brand {
    height: 34px;
}

.dropdown-menu {
    border: solid 1px #dddddd !important;

}


.dropdown-item:hover {
    color: #ffffff !important;
    background: #23374D;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


/*///////////////////////////FOOTER///////////////////////////*/
footer {
    background: #23374D;
}

footer li,
footer p {
    font-size: .76rem;
    color: #ffffff;
}

#brand2 {
    height: 36px;
    border-right: 1px solid;
}

ul {
    list-style-type: none;
}

.clearfix2 {
    margin: auto;
    height: 1px;
    width: 30px;
}

footer span h2 {
    border-left: solid 1px red;
}

#in-btn:hover {
    background: #2867b2;
    color: #ffffff;
    border-radius: 3px;
}

#fb-btn:hover {
    color: #ffffff;
    background: #4267B2;
    border-radius: 3px;
}

#tweet-btn:hover {
    color: #1da1f2;
}

#insta-btn:hover {
    color: #e1306c;
}

.foot-link {
    border-left: 1px solid red;
}


/*//////////////////////////////////////////////////////MEDIA QUERIES//////////////////////////////////////////////////////*/

@media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 2.5rem;
    }


}

@media only screen and (min-width: 601px) {
    .display-4 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 769px) {
    .display-4 {
        font-size: 3.5rem;
    }
}

