html,
body {
    margin: 0px;
    cursor: default;
}

body a,
body a:hover {
    text-decoration: none !important;
    color: #ffffff;
}

* {
    transition: all 0.1s ease-out;
}

.clearfix {
    margin: auto;
    height: 3px;
    width: 20%;
}

/*/////////////NAVBAR/////////////*/
.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#brand {
    height: 34px;
}

.dropdown-menu {
    max-width: 100px;
    border: solid 1px #707070;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background: #707070;
    border: #707070;
}

/*/////////Features-SECTION/////////*/

#features .list-group-flush li {
    border: 0px !important;
    padding: 12px;
}

#features ul li:nth-child(2) {
    margin: 10px 0px 10px 0px;
}




/*////////////////////////frame-sol section////////////////////////*/
.frame-img {
    height: 460px;
}

#img1 {
    background-image: url("/images/f2o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




#img2 {
    background-image: url("/images/number.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img3 {
    background-image: url("/images/finance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img4 {
    background-image: url("/images/number.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img5 {
    background-image: url("/images/number.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*/////////////Possibilities-section//////////////*/
.pos-card .card-title {
    font-weight: 400;
}

.pos-card .card-body {
    font-weight: 300;
}

.pos-card .card {
    line-height: 1.75rem;
    min-width: 220px;
    top: 0px;
    background: #23374D;
}

.pos-card .card-body {
    border-top: 1px solid red;
}

.pos-card .card:hover {
    transition: all 0.2s ease-out;
    top: -7px;
}


/*///////////////////////////FOOTER///////////////////////////*/
#banner-dark,
#banner-dark span,
#banner-dark p,
#banner-dark h4 {
    color: #ffffff;
    background: #23374D;
}

footer {
    background: #23374D;
}

footer div {
    color: #ffffff;
}

ul {
    list-style: none;
}

footer li,
footer p,
footer a,
#terms {
    font-size: .76rem;
    color: #ffffff;
}

#brand2 {
    height: 36px;
}

.clearfix2 {
    margin: auto;
    height: 1px;
    width: 30px;
}

#in-btn:hover {
    background: #2867b2;
    color: #ffffff;
    border-radius: 3px;
}

#fb-btn:hover {
    color: #ffffff;
    background: #4267B2;
    border-radius: 3px;
}

#tweet-btn:hover {
    color: #1da1f2;
}

#insta-btn:hover {
    color: rgb(226, 50, 108);
}

.seperator {
    border: 0 4px 0 0 solid;
    margin: 0 20px 0 20px;
    background: #DC3545;
    width: 1px;
}

/*//////////////////////////////////////////////////////MEDIA QUERIES//////////////////////////////////////////////////////*/

/*Phones- 600px and low*/
@media only screen and (max-width: 600px) {



    .display-4 {
        font-size: 2.5rem;
    }


    .accordion {
        height: auto;
    }

    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }

    #number-section h1 {
        font-size: 1.75rem;
    }

    #number-section h2 {
        font-size: 1.5rem;
    }


    #brand-footer {
        justify-content: center;
    }

    #quote {
        border-top: 1px solid red;
        padding-top: 5px;
        margin-left: 50px;
    }
}

/*Tablets- 600px and above*/
@media only screen and (min-width: 601px) {

    .display-4 {
        font-size: 3rem;
    }

}

/*Laptops/screens- 600px and above*/
@media only screen and (min-width: 768px) {

    .display-4 {
        font-size: 3.5rem;
    }
}

/*large screens- 600px and above*/
@media only screen and (min-width: 992px) {}
