html,
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body a,
body a:hover {
    text-decoration: none !important;
    color: #ffffff;
}

body p {
    color: #444444;
}

* {
    transition: all 0.1s ease-out;
}

button {
    text-decoration-style: none;
}


/*////////////NAVBAR////////////*/
.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

nav.scrolled {
    border-bottom: solid 1px #dddddd;
    padding: 0px;
}

#brand {
    height: 34px;
}

.dropdown-menu {
    border: solid 1px #dddddd !important;
}

.dropdown-item:hover,
.dropdown-item:active {
    color: #ffffff !important;
    background: #23374D;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/*//////////HEAD-SECTION///////////*/


#sm-img img {
    width: 100%;
}


/*//////////DOMAIN-SECTION/////////*/


/*ACCORDION*/

.accordion {
    width: 100%;
    max-width: 1080px;
    height: 350px;
    overflow: hidden;
    margin: 50px auto;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    border: 3px solid #fff;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 500ms ease;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);

}

.accordion ul li div p {
    color: #ffffff;
    //right: 10px;
    position: absolute;
    bottom: 50px;
    transform: rotate(-90deg);
}



.accordion ul li div a {
    display: block;
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: wrap;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 140px;
}

.accordion ul li div a p {
    color: #ffffff;
    margin-top: 220px;
    font-size: 13.5px;
}

.accordion ul li:nth-child(1),
.one {
    background-image: url("/images/construction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul li:nth-child(2),
.two {
    background-image: url("/images/mining.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul li:nth-child(3),
.three {
    background-image: url("/images/infra.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul li:nth-child(4),
.four {
    background-image: url("/images/manufacture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul li:nth-child(5),
.five {
    background-image: url("/images/medical-563427_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul li:nth-child(6),
.six {
    background-image: url("/images/realest.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul li:nth-child(7),
.seven {
    background-image: url("/images/hospit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion ul:hover li {
    transition: all 0.5s ease-out;
    width: 8%;
}



.accordion ul:hover li:hover {
    width: 60%;
}


.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.7);
}

.accordion ul:hover li:hover a * {
    transition-delay: 0.1s;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.accordion #hide {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 80%;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.56);
    margin: 0px;
    padding: 0px;
}

.accordion ul:hover li:hover #hide {
    transition: all 0.3s ease-out;
    overflow: hidden;
    white-space: inherit;
    position: absolute;
    top: 120px;
    z-index: 9999999;
    font-size: 32px;
    text-decoration: underline;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

/*for sm cards*/
.domain-card h3,
.domain-card p {
    color: #ffffff;
}

.domain-card p {
    font-size: 13.5px;
}

.domain-card .card {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .75);
}

.domain-card .card {
    top: 0px;
}

.domain-card .card:hover {
    transition: all 0.2s ease-out;
    top: -8px;
}

.domain-card .card:hover {
    transition: all 0.2s ease-out;
    top: -8px;
}


/*////////NUMBER-SECTION///////////*/



#banner-dark1 span,
#banner-dark1 p,
#banner-dark1 h4 {
    font-weight: bold;
    color: #ffffff;
}

#banner-dark1 {
    color: #ffffff;
    background-image: url("/images/number.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.79);
}

.clearfix {
    margin: auto;
    height: 3px;
    width: 20%;
}


/*/////////SOLUTION-SECTION//////////*/

.list-group-item {
    border: 0px solid #ceced2;
}

#list-tab a.active {
    color: #444444;
    background-color: #F4F5F8 !important;
    border: #fff 0px solid;
    border-left: 6px solid #5dd05d;
}

.tab-content {
    height: 415px;
}

.underliner {
    display: inline-block;
    height: 8px;
    width: 160px;
    border-radius: 4px;
}

.dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
}


#sol-info {
    background: #F4F5F8;
}

/*for sm screens*/

.sol-accord button .sol-accord button:hover {
    text-decoration: none;
}

.sol-accord button[aria-expanded="true"] {
    text-decoration: none;
    color: white;
    background: #23374D;
}


/*//////////TESTIMONIAL-SECTION/////////*/
#testim-banner {
    background-image: url("/images/banner-back.jpg");
    filter: grayscale(10%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    font-size: 13px;
}

.client-img img {
    clip-path: circle(52px at center);
    height: 80px;
}

#testim-banner .card {
    min-width: 300px;

}



/*/////////Map section//////////*/

#global {
    width: 100%;
    height: 370px;
    background-image: url("/images/globe.png");
    background-size: cover;
    background-position: center;
}

#global-text {
    background: #F4F5F8;
}


/*///////////////////////////FOOTER///////////////////////////*/
#banner-dark,
#banner-dark span,
#banner-dark p,
#banner-dark h4 {
    color: #ffffff;
    background: #23374D;
}

footer {
    background: #23374D;
}


footer div {
    color: #ffffff;
}

footer li,
footer p,
footer a,
#terms {
    font-size: .76rem;
    color: #ffffff;
}

#brand2 {
    height: 36px;
}


ul {
    list-style-type: none;
}

.clearfix2 {
    margin: auto;
    height: 1px;
    width: 50px;
}

footer li a:hover {
    color: #FF3547 !important;
}

#in-btn:hover {
    background: #2867b2;
    color: #ffffff;
    border-radius: 3px;
}

#fb-btn:hover {
    color: #ffffff;
    background: #4267B2;
    border-radius: 3px;
}

#tweet-btn:hover {
    color: #1da1f2;
}

#insta-btn:hover {
    color: rgb(226, 50, 108);
}


.seperator {
    border: 0 4px 0 0 solid;
    margin: 0 20px 0 20px;
    background: #DC3545;
    width: 1px;
}


/*//////////////////////////////////////////////////////MEDIA QUERIES//////////////////////////////////////////////////////*/

/*Phones- 600px and low*/
@media only screen and (max-width: 600px) {


    #brand {
        height: 30px;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    nav {
        border-bottom: 1px solid #dddddd;
        padding: 2px;
    }

    #solution-tabs {
        display: none;
    }

    #number-section h1 {
        font-size: 1.75rem;
    }

    #number-section h2 {
        font-size: 1.5rem;
    }

    #global {
        margin-top: 20px;
        width: 100%;
        height: 230px;
    }


    #brand-footer {
        justify-content: center;
    }

    #quote {
        border-top: 1px solid red;
        padding-top: 5px;
        margin-left: 50px;
    }
}


/*Tablets- 600px and above*/
@media only screen and (min-width: 601px) {



    .display-4 {
        font-size: 3rem;
    }



    #head-img img {
        height: 240px;
    }

    .sol-img {
        height: 200px;
        box-shadow: 5px 5px 15px 5px #888888;
    }


}


/*Laptops/screens- 600px and above*/
@media only screen and (min-width: 769px) {

    .display-4 {
        font-size: 3.5rem;
    }

    #head_section {
        height: 580px;
    }

    #head-img img {
        height: 320px;
    }

    #solution-tabs {
        display: block;
    }

}


/*large screens- 600px and above*/
@media only screen and (min-width: 1367px) {
    #head_section {
        height: 790px;
    }

    #head-img img {
        height: 520px;
    }

    .sol-img {
        height: 260px;
    }

}
